@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: Inter Tight;
}

body {
    margin: 0;
    padding: 0;
}

li {
    margin-block: 5px;
}

section {
    margin-block: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 2px #ececec solid;
}

header img {
    width: 100px;
}

.primary-navigation {
    display: flex;
    align-items: center;
}

.primary-navigation ul {
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    gap: 40px;
    padding-right: 20px;
}

.primary-navigation a {
    color: black;
    background-color: #ececec;
    border-radius: 10px;
    padding: 0.5em;
    font-weight: bold;
    text-decoration: none;
}

.wrapper {
}