@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: Inter Tight;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
}

li {
    margin-block: 5px;
}

section {
    margin-block: 5px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 2px #ececec solid;
}

#navbar img {
    width: 100px;
}

.primary-navigation {
    display: flex;
    align-items: center;
}

.primary-navigation ul {
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    gap: 40px;
    padding-right: 20px;
}

.primary-navigation a {
    color: black;
    background-color: #ececec;
    border-radius: 10px;
    padding: 0.5em;
    font-weight: bold;
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}


.login_card {
    margin-top: 50px;
    padding: 50px;
    width: 500px;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    border-bottom: 2px #ececec solid;
}


.form-group {
    margin: 20px;
}

label, input, .btn{
    font-weight: 600;
    font-size: 1.25em;
    
}

input {
    border-radius: 15px;
    border: 2px solid rgb(22, 4, 77);
    margin-left: 5px;
    padding: 3px;
    font-size: 1em;
}

select {
    font-size: 1.15em;
}


.btn {
    margin-left: 45%;
    border-radius: 15px;
    background-color: rgb(22, 4, 77);
    color: white;
    padding: 8px;
}

.btn:hover {
    cursor: pointer;
}