<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship Tracker</title>
    <link rel="stylesheet" href="../static/style.css">

    <!-- Adding in favicon (tiny logo at the tab bar)-->
    <link rel="icon" type="image/x-icon" href="../assets/small-logo.svg">
</head>
<body>
    
    <div class="wrapper">
        <header>
            <img src="../assets/large-logo.svg" alt="">

            <nav class="primary-navigation">
                <ul>  
                    <li><a href="start.html">Getting Started</a></li>
                    <li><a href="account.html">Account</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <div>
        <main>
            
        </main>
    </div>
</body>
</html>