<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship Tracker</title>
    <link rel="stylesheet" href="../static/style.css">
    <script type=module src="./script.js" defer></script>

    <!-- Adding in favicon (tiny logo at the tab bar)-->
    <link rel="icon" type="image/x-icon" href="../assets/small-logo.svg">
</head>
<body>
    
    <div class="wrapper">
        <prelog-header></prelog-header>
    </div>

    <div>
        <main>
            
        </main>
    </div>
</body>
</html>